# -----------------------
# MODELS (VERY IMPORTANT)
# -----------------------
models/
*.bin
*.pt
*.safetensors

# -----------------------
# PYTHON
# -----------------------
__pycache__/
*.pyc
*.pyo

# -----------------------
# VIRTUAL ENV
# -----------------------
env/
venv/

# -----------------------
# OS FILES
# -----------------------
.DS_Store
Thumbs.db